<form action="/posts" method="POST">
  <label for="name">Blog Title:</label>
  <input id="name" type="text" name="name"/><br>
  <label for="content">Write it:</label>
  <input id="content" type="text" name="content"/><br>
  <input id="submit" type="submit" name="submit"/>
</form>
